<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title></title>
    <link rel="stylesheet" href="../css/style.css?t=1636645650640">
    <style type="text/css">
    </style>
</head>

<body>
    <div class="content-block">
        <input id="btn1" type="button" value="点我执行throw new Error" />
        <input id="btn2" type="button" value="点我执行console.log" />
    </div>
    <div id="list"></div>
    <script type="text/template" id="comments">
    <% comments.forEach(function(comment){%>
<div class="text_user_text">
    <div class="text-img z">
        <img src="">
    </div>
    <div class="user_comment">
        <div class="spans">
            <span class="user_name">
                <strong><%=comment.user%></strong>
            </span>
            <span><%=comment.postdate%></span>
            <i class="del y" data-id="<%=comment.id%>">x</i>
        </div>
        <div class="span_comment">
            <p><%=comment.detail%></p>
        </div>
    </div>
</div>
<% }) %> 
</script>
    <script src="../lib/stats.min.js?t=1636645650640"></script>
    <script src="../js/index.js?t=1636645650640"></script>
    <script>
        document.querySelector('#btn1').addEventListener("click", function (e) {
            throw new Error("你点击了执行throw new Error的按钮");
        });
        document.querySelector('#btn2').addEventListener("click", function (e) {
            console.log(e);
            console.log("你点击了执行console.log的按钮");
        });
    </script>
</body>

</html>