* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-user-select: none;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.content-block {
    margin: 0 10px;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #b72f20;
    border-radius: 5px;
}

input[type='button'] {
    color: #fff;
    background: #b72f20;
}

p {
    width: 100%;
    word-break: break-all;
}

input,
p {
    margin: 5px 0;
}
